@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
@import url('https://fonts.cdnfonts.com/css/home-video');
*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color: black;
}
header{
  background: #070707;
  width: 100%;
  color: rgb(226, 215, 255);
  font-family: 'VCR OSD Mono', sans-serif;
  text-shadow: 4px 4px rgb(12, 0, 20);
  border-bottom: solid  1.5px rgba(255, 255, 255, 0.6);
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  
}
.TxtH{
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 40px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#btn-1{
  background: linear-gradient(90deg, #5100ad 24%, #410096 50%, #5600c7 79%, #4800bb 100%);
  border: none;
  color: rgb(224, 216, 255);
  text-shadow: 2px 1px rgb(0, 0, 39);
  font-family: 'VCR OSD Mono', sans-serif;
  height: 30px;
  width: 200px;
  border-radius: 40px;
  font-size: 15px;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
}
section{
  color: rgb(255, 255, 255);
}
#TxtGN{
  font-size: 50px;
  font-family: 'VCR OSD Mono', sans-serif;
  text-shadow: 3px 3px rgb(14, 0, 48);
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(90deg, #5100ad 24%, #410096 50%, #410096 90%, #4800bb 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(223, 211, 255);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
  width: 100%;
}
.ContainerG{
  background-color: #050505;
  width: 300px;
  margin: auto;
  padding: 20px;
  box-shadow: 10px 10px 10px 5px #00000088;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 6.5%;
}
#ContainerTxt{
  color: rgb(208, 211, 255);
  font-family: '';
  text-align: center;
  text-shadow: 2px 2px rgb(8, 0, 26);
  font-size: 24px;
}
#btn-2D{
  background: linear-gradient(90deg, #5100ad 30%, #410096 60%, #410096 70%, #4800bb 100%);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  height: 35px;
  width: 180px;
  font-family: '';
  text-shadow: 1px 1px rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 10px;
}
footer{
  bottom: 0;
  background-color: #070707;
  width: 100%;
  height: 90px;
  border-top: solid 1.5px rgba(255, 255, 255, 0.6);
  margin-top: 30px;
}
.FContent{
  color: rgb(216, 205, 255);
  font-family: '';
  text-shadow: 2px 2px rgb(0, 14, 1);
  font-size: 20px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  flex-direction: column;
}
.dc{
  background: linear-gradient(90deg, #5100ad 24%, #410096 50%, #5600c7 79%, #4800bb 100%);
  border: none;
  height: 40px;
  width: 40px;
  font-size: 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.yt{
  background: linear-gradient(90deg, #5100ad 24%, #410096 50%, #5600c7 79%, #4800bb 100%);
  border: none;
  height: 40px;
  width: 40px;
  font-size: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}
#ContainerTxt2{
  color: rgb(222, 208, 255);
  font-family: '';
  text-align: center;
  text-shadow: 2px 2px rgb(1, 26, 0);
  font-size: 24px;
  margin-top: 10px;
}
